**/bin/
**/obj/


.idea/

Shadowchats.Authentication.sln.DotSettings.user
Shadowchats.Authentication.sln.DotSettings


Shadowchats.Authentication.Presentation/Properties

*.json
**/*.json
!*example.json
!**/*example.json
*.pfx
**/*.pfx