name: Build & Push Docker Image

on:
  workflow_dispatch:
    inputs:
      level:
        description: 'Which version to bump (major/minor/patch)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  build-and-push:
    runs-on: [self-hosted, Linux, X64, local-minikube]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Read version from file
        id: get_version
        run: |
          VERSION=$(cat VERSION)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "service=$(basename $GITHUB_REPOSITORY)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image
        run: |
          IMAGE="one290/shadowchats:${{ steps.get_version.outputs.service }}-v${{ steps.get_version.outputs.version }}"
          echo "Building image $IMAGE"
          docker build -t $IMAGE ./ 

      - name: Push Docker image
        run: |
          IMAGE="one290/shadowchats:${{ steps.get_version.outputs.service }}-v${{ steps.get_version.outputs.version }}"
          echo "Pushing image $IMAGE"
          docker push $IMAGE

      - name: Increment version
        run: |
          OLD_VERSION=$(cat VERSION)
          IFS='.' read -r MAJ MIN PATCH <<< "$OLD_VERSION"

          # Обязательный input level, берем напрямую
          LEVEL="${{ github.event.inputs.level }}"

          case "$LEVEL" in
            major)
              MAJ=$((MAJ+1))
              MIN=0
              PATCH=0
              ;;
            minor)
              MIN=$((MIN+1))
              PATCH=0
              ;;
            patch)
              PATCH=$((PATCH+1))
              ;;
            *)
              echo "Unknown level '$LEVEL', exiting"
              exit 1
              ;;
          esac

          NEW_VERSION="$MAJ.$MIN.$PATCH"
          echo "$NEW_VERSION" > VERSION

          git config --local user.email "ci@example.com"
          git config --local user.name "CI Bot"
          git add VERSION
          git commit -m "Bump version to $NEW_VERSION"
          git push
